Source: scim-hangul
Section: utils
Priority: optional
Maintainer: Tz-Huan Huang <tzhuan@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev, libscim-dev (>= 1.4.14),
 libhangul-dev (>= 0.0.4)
Standards-Version: 3.9.3
Homepage: https://github.com/choehwanjin/scim-hangul

Package: scim-hangul
Architecture: any
Depends: scim, ${shlibs:Depends}, ${misc:Depends}
Suggests: ttf-unfonts, ttf-alee
Description: Hangul Input Method Engine for SCIM
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 Hangul Input Method Engine enables SCIM to input Hangul (Korean)
 characters from the keyboard using the plugin modules and the data 
 files.
 .
  Homepage:  http://www.scim-im.org/
 .
 For details about SCIM, please see the description of package scim.
