#!/usr/bin/make -f
export DH_VERBOSE=1
export DH_OPTIONS=-v
export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with autotools-dev

override_dh_makeshlibs:
	# disable dh_makeshlibs

override_dh_auto_install:
	dh_auto_install
	# these are not used.
	rm debian/scim-hangul/usr/lib/$(DEB_HOST_MULTIARCH)/scim-1.0/*/*/*.la
